@import "tailwindcss" important;

.container{
    @apply mx-auto max-w-screen
}

.text-primary{
    @apply text-blue-700
}

@layer base{
    button:not(:disabled),
    [role="button"]:not(:disabled){
        cursor: pointer;
    }
}